!!!
%html(xml:lang='en' lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %meta(content='text/html;charset=UTF-8' http-equiv='content-type')
    %title="邮件发微博 mail2weibo"
    :css
        .weibo {
          float: left;
          clear: left;
          padding: 10px;
          width: 483px;
          border: 1px solid #242424;
          margin-bottom: 10px; }
  
        span.text {
          float: left;
          display: inline;
          width: 400px;
          margin-left: 10px; }
        
        .retweeted_status {
          background: #cccccc;
          float: left;
          clear: left;
          padding: 10px;
          border: 1px solid #242424; }
              
  %body
  -@timeline.each do |weibo|
    .weibo
      %span.text
        %a{:href => "http://t.sina.com.cn/#{weibo.user.id}", :target => "_blank"}=weibo.user.screen_name
        %span=weibo.text
        %br
        %span=DateTime.parse(weibo.created_at).strftime('%Y-%m-%d %H:%M:%S').to_s
      -if weibo.retweeted_status
        .retweeted_status
          %span.text
            %a{:href => "http://t.sina.com.cn/#{weibo.user.id}", :target => "_blank"}=weibo.retweeted_status.user.screen_name
            %span=weibo.retweeted_status.text
            %br
            %span=DateTime.parse(weibo.retweeted_status.created_at).strftime('%Y-%m-%d %H:%M:%S').to_s